#displayLeaderboard ul{
    display: flex;
    flex-direction: column;

    min-width: 20em;
    max-width: 80vw;

    padding: 1em;
}

#displayLeaderboard ul li{
    display: grid;
    grid-template-columns: 6em 3em 6em 5em 5em 5em;

    text-align: left;

    margin: .25em;
}

#displayLeaderboard ul .headerRow{
    color: var(--highlight-text);
    font-weight: bold;
    text-decoration: underline;
}

#displayLeaderboard ul li span{
    padding: 0em 1em;
}

#displayLeaderboard .highlight{
    color: var(--highlight-text);
}
