.eventAdminHome li{
    display: grid;
    grid-template-columns: 30fr 15fr 10fr 15fr 30fr;
}

.eventAdminHome li span:first-child, .eventAdminHome li span:nth-child(2){
    text-align: right;
}
.eventAdminHome li span:nth-child(3){
    text-align: center;
}

.eventAdminHome li span input[type="button"], .eventAdminHome li span .bye{
    width: 1.25em;
    height: 1.5em;

    text-align: center;

    padding: 0em;
    border: 0em;
    border-radius: .25em;
    margin: 0em;

    /* For the spans */
    display: inline-flex;
    background-color: var(--attention);
    font-size: larger;
    font-weight: bold;
    align-items: center;
    justify-content: space-around;
}