:root{
    --primary-background: #011627;
    --primary-text: #EEE5E9;
    --highlight-text: #D64933;
    --accent: #354a4d;
    --attention: red;

    background-color: var(--primary-background);
    color: var(--primary-text);
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    max-width: 25em;
}

.wrapper h1{
    margin-bottom: 2em;
    text-align: center;
}

.wrapper form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="button"], input[type="submit"]{
    color: var(--primary-text);
    background-color: var(--highlight-text);
    
    font-size: larger;
    font-weight: bold;

    width: 10em;

    padding: .5em;
    border: .25em solid var(--highlight-text);
    border-radius: 2em;;
    margin: 1em;

    cursor: pointer;
}

input:focus{
    outline: none;
}

/*Footer*/
footer{
    position: fixed;
    bottom: 3em;
    padding: 1em;
    background-color: var(--primary-background);
}

/*Definition Classes*/
.hidden{
    display: none;
}

.italics{
    font-style: italic;
}

/*Error Popups*/
.popup-overlay{
    position: absolute;
    background-color: var(--accent);

    min-width: 20vw;
    max-width: 30em;
    max-height: 80vh;

    padding: 1em;
    border: .5em solid var(--attention);
    border-radius: .5em;
    margin: 10vh auto;
}

.popup-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}