:root{
    --primary-background: #011627;
    --primary-text: #EEE5E9;
    --highlight-text: #D64933;
    --accent: #354a4d;
    --attention: red;

    background-color: var(--primary-background);
    color: var(--primary-text);
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.wrapper h1{
    margin-bottom: 2em;
}

.wrapper form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper input[type="button"], .wrapper input[type="submit"]{
    color: var(--primary-text);
    background-color: var(--highlight-text);
    
    font-size: larger;
    font-weight: bold;

    width: 10em;

    padding: .5em;
    border: .25em solid var(--highlight-text);
    border-radius: 2em;;
    margin: 1em;

    cursor: pointer;
}

.hidden{
    display: none;
}

.italics{
    font-style: italic;
}